.heading{
    margin: 10px auto 20px auto;
    width: 70%;
    background: #575757;
    padding: 10px;
    text-align: center;
}
    
.heading #title{
    font-size: 60px;
    text-align: center;  
}

.miniHeading{
    margin: 10px auto 20px auto;
    width: 50%;
    padding: 10px;
    text-align: right;
    
}
    

.heading:hover{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    margin: 10px auto 20px auto;
    box-shadow: 12px 12px rgb(0, 0, 0);
}


.main{
margin: auto;
width: 60%;
color: #ffffff;
font-family: Courier New, Courier, monospace;
background: #4b4b4b;
padding: 20px;
}

.main #content{
    margin: 10%;
    font-size: 30px;
    text-align: center;
    
}