.heading{
    margin: 10px auto 20px auto;
    width: 70%;
    background: #575757;
    padding: 10px;
    text-align: center;
}
    
.heading #title{
    font-size: 60px;
    text-align: center;  
}

.miniHeading{
    margin: 10px auto 20px auto;
    width: 50%;
    padding: 10px;
    text-align: right;
}
    
.heading:hover{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    margin: 10px auto 20px auto;
    box-shadow: 12px 12px rgb(0, 0, 0);
}

.main{
margin: auto;
width: 60%;
color: #ffffff;
font-family: Courier New, Courier, monospace;
background: #4b4b4b;
padding: 20px;
}

.main #content{
    margin: 10%;
    font-size: 30px;
    text-align: center;
    
}

.count{
    display:inline;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}


a {
    size: 20px;
    padding: 5px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {

    color: rgb(126, 126, 126);
    text-transform: scale(1.6,1.6)
}
