dl{

    max-width: 400px;
    margin: 10px auto;
    margin-top: 30px;
    padding: 10px 20px;
    background: #ececec;
    border-radius: 16px;
   
}

h3{
    font-size: 35px;
    height: auto;
    margin: 0;
    padding: 20px;
    outline: 0;
    text-align: center;
    width: 90%;
    color: #474747;
}

dt,dd{
    border: none;
    font-size: 20px;
    height: auto;
    margin: 0;
    outline: 0;
    width: 90%;
    color: #a1a1a1;
}

dd{
    font-size: 22px;
    color: #353535;
    padding-left: 10px;
    padding-bottom: 10px;
}

.container{
    min-height: 71vh;
}